
.login {
    margin         : 20px;
    height: 70vh;
    display        : flex;
    flex-direction: column;
    /*подрежда заглавие, съдърж.и фуутър на един ред*/
    justify-content: space-around;
    align-products    : center;
    border         : 1px solid white;
}

form {
    display: flex;
    flex-direction: column;
    align-products    : center;
    label, p {
     margin: 20px;
    }
    input{
        margin-left:10px;
    }

}